<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="https://www.fee.unicamp.br/" class="navbar-brand">Unicamp</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a routerLink="/about">Sobre a Pesquisa</a>
            </li>
            <li>
              <a routerLink="/user"><i class="fa fa-user"></i> Intruções ao Locutor</a>
            </li>
            <li>
              <a routerLink="/recorder"><i class="fa fa-microphone"></i> Gravação</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
    <router-outlet></router-outlet>
    </div>
    