<html>

<head>
</head>


<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Lista de Frases</h1>
            </div>
        </div>
    </div>
</div>

<body ng-app>
    <div class="bs-component">
        <div class="jumbotron">
            <div>
                <h3 align="Justify">
                    1 - Eu rasguei todo meu dinheiro em vão, minha família depende da aposentadoria do meu avô. Mas o dia amanheceu ensolarado
                    e eu fiquei feliz porque minha tia viajou para Porto Alegre às sete horas.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop1" (click)="stop('1',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar1">Salvar</button>
                <progress value="0" max="100" id="uploader"></progress>
                <ul id="recordingslist1"></ul>                
            </div>
            <div>
                <h3 align="Justify">
                    2 - O tele-jornal da Globo terminou agora a pouco, todos se levantaram, a porta bateu forte e meu tio xingou bastante. Mas
                    disse que é um grande prazer ter os sobrinhos hospedados em casa e não em um dos hotéis do sudoeste.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop2" (click)="stop('2',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar2">Salvar</button>
                <ul id="recordingslist2"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    3 - Para ganhar, preciso decifrar o código até amanhã. Os papeis foram rasgados mas ainda é possível ler informações importantes.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop3" (click)="stop('3',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar3">Salvar</button>
                <ul id="recordingslist3"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    4- Suas atitudes são muito drásticas e resultarão em guerra entre vocês. Ela chegou a pedir o divórcio antes dele morrer
                    e pensou que podia compartilhar esse documento com você.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop4" (click)="stop('4',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar4">Salvar</button>
                <ul id="recordingslist4"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    5 - Meu orientador disse que o professor de Português e a professora de Matemá- tica se casaram e foram morar na Nigéria,
                    onde clima está muito diferente de dez anos atrás.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop5" (click)="stop('5',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar5">Salvar</button>
                <ul id="recordingslist5"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    6 - Você tem razão, a correção da prova não foi justa e a turma tirou notas abaixo da média. Assim como a gestão do atual
                    prefeito, a diretoria não está agradando o povo.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop6" (click)="stop('6',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar6">Salvar</button>
                <ul id="recordingslist6"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    7 - Tenho aptidão para tirar fotos de motos e guitarras, então recebi em dólar e comprei um carro, jóias e relógios para
                    nós. A atriz teve uma ótima atua- ção no espetáculo e recebeu meus parabéns e um presente pela apresentação
                    fantástica.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop7" (click)="stop('7',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar7">Salvar</button>
                <ul id="recordingslist7"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    8 - Eu criei muita expectativa nesse trabalho. O chefe não ouviu meu clamor, continuou sorrindo para mim e segurando a colher
                    estava suja de abacate ele disse "A palavra caçador se escreve com C cedilha".
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop8" (click)="stop('8',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar8">Salvar</button>
                <ul id="recordingslist8"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    9 - O Brasil é um país injusto e desigual, é errado não partilhar a comida com os mais necessitados. Mas só vota quem tiver
                    o título de eleitor.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop9" (click)="stop('9',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar9">Salvar</button>
                <ul id="recordingslist9"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    10 - Esse canal tem bastante pornografia e a abertura do campeonato ocorreu antes de ontem, quando os turistas japoneses
                    procuravam belas casas para alugar.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop10" (click)="stop('10',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar10">Salvar</button>
                <ul id="recordingslist10"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    11 - O biscoito era de chocolate com morango, por isso escolhi o bombom de chocolate ao leite com licor de amarula. Ainda
                    precisamos comprar pó de café, pão francês, abóbora e melão.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop11" (click)="stop('11',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar11">Salvar</button>
                <ul id="recordingslist11"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    12 - Segurei a panela de macarrão com apenas uma mão e as duas pilhas que eu lhe dei caíram no chão. A rã está embaixo do
                    fogão, deve ser retirada logo, pois tenho medo de répteis e de minhocas.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop12" (click)="stop('12',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar12">Salvar</button>
                <ul id="recordingslist12"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    13 - Ele pulou daquele caminhão que transportava tubos de ferro e nega que naquela área tem produtos tóxicos. Foi na cidade
                    em que encontraram o corpo do mendigo numa bocada e montaram uma emboscada para prender os assaltantes.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop13" (click)="stop('13',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar13">Salvar</button>
                <ul id="recordingslist13"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    14 - Ele ficou chateado porque foi chamado de burro pelo escrivão zangado enquanto lavava sua blusa azul de lã com água e
                    sabão.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop14" (click)="stop('14',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar14">Salvar</button>
                <ul id="recordingslist14"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    15 - Li que o escrivão mora sozinho perto da plantação de feijão e sorte que o jacaré que fugiu do zoológico já foi encontrado.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop15" (click)="stop('15',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar15">Salvar</button>
                <ul id="recordingslist15"></ul>
            </div>
            <div>
                <h3 align="Justify">
                    16 - A velha locomotiva vem com pouca carga e os faróis iluminam as flores da rua em que a criança desenhou um vulcão.
                </h3>
                <button class="btn btn-default btn-sm" id = "record" (click)="start(this);" [ngClass]='{disabled: isOn}'>Gravar</button>
                <button class="btn btn-default btn-sm" id = "stop16" (click)="stop('16',this);" [ngClass]='{disabled: isOff}'>Parar</button>
                <button class="btn btn-default btn-sm" id= "salvar16">Salvar</button>
                <ul id="recordingslist16"></ul>
            </div>
        </div>
    </div>

</body>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Made by
                <a rel="nofollow">Nathália Batista</a>. Contact her at
                <a>nathbapt@decom.fee.unicamp.br</a>
            </p>
            <p>Code released under the
                <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on
                <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from
                <a href="https://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from
                <a href="https://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

        </div>
    </div>
</footer>

</html>